<% content_for(:title) { 'Sign in to Starch' } %>

<div class="page page--login align--center push--top">
  <div>
    <img src="/icon.svg" class="login__logo push_half--bottom" />
    <h1 class="heading align--center">
      Starch
    </h1>
  </div>

  <div class="login__form">
    <%= form_with(url: verify_session_path) do |form| %>
      <%= form.hidden_field :email_address, value: params[:email_address] %>
      <%= form.label :verification_code do %>
        <p>Enter the code sent to</p>
        <p class="login__email-address"><%= params[:email_address] %></p>
      <% end %>
      <%= form.text_field :verification_code, 
                          pattern: "[0-9]*", 
                          required: true, 
                          inputmode: "numeric",
                          maxlength: 6,
                          autocomplete: "off",
                          autofocus: true %>
      <%= form.submit "Verify email address", class: "btn btn--primary push_half--top" %>
      <%= invisible_captcha %>
    <% end %>
  </div>
  <%= link_to "Go back", new_session_path, class: "btn btn--outline btn--sm btn--icon icon--arrow-left web-only push_one_and_a_half--top" %>
</div>
