<div id="login">
  <h1>Login</h1>

  <% if @show_verification %>
    <%= form_with(url: verify_session_path, data: { turbo: false }) do |form| %>
      <div>
        <%= form.label :verification_code, "Enter verification code" %>
        <%= form.text_field :verification_code, maxlength: 6, pattern: "[0-9]*" %>
      </div>
      <%= form.submit "Verify code" %>
    <% end %>
  <% else %>
    <%= form_with(url: session_path, data: { turbo: false }) do |form| %>
      <div>
        <%= form.label :email_address, "Email" %>
        <%= form.email_field :email_address %>
      </div>

      <%= form.submit "Continue with email" %>
       <%= invisible_captcha %>
    <% end %>
  <% end %>
</div>