<% content_for(:title) { 'Sign in to Starch' } %>

<div class="page page--login push--top">
  <div class="align--center push--bottom">
    <img src="/icon.svg" class="login__logo push_quarter--botto " />
    <h1 class="heading align--center">
      Starch
    </h1>
  </div>

  <div class="login__form">
    <%= form_with(url: session_path, class: "align--center") do |form| %>
      <%= form.label :email_address, "Enter your email address"%>
      <%= form.email_field :email_address, required: true, autofocus: true %>
      <%= form.submit "Continue", class: "btn btn--primary push--top" %>
      <%= invisible_captcha %>
    <% end %>


    <%= form_with(url: session_path, class: "align--center", data: { controller: "sign-in" }) do |form| %>
      <span class="auth-divider" data-sign-in-target="passkeyFields">Or</span>
      <%= form.button "Sign in with passkey", class: "btn btn--icon icon--security", data: { "sign-in-target": "passkeyFields"} %>
    <% end %>
  </div>

</div>
