<h1>Login</h1>

<% if @show_verification %>
  <div>
    <%= form_with(url: magic_link_session_path) do |f| %>
      <div>
        <%= f.label :verification_code, "Enter verification code" %>
        <%= f.text_field :verification_code, maxlength: 6, pattern: "[0-9]*" %>
      </div>
      <%= f.submit "Verify code" %>
    <% end %>
  </div>
<% else %>
  <div>
    <%= form_with(url: session_path) do |f| %>
      <div>
        <%= f.label :email_address, "Email" %>
        <%= f.email_field :email_address %>
      </div>

      <%= f.submit "Continue with email" %>
    <% end %>
  </div>
<% end %>

<% flash.each do |name, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>