<% content_for(:title) { 'Sign in to Starch' } %>

<div class="sheet sheet--login align--center">
  <h1 class="sheet__header">Sign in or create account</h1>
  <%= form_with(url: session_path, id: "login__form") do |form| %>
    <%= form.label :email_address, "Enter your email address" %>
    <%= form.email_field :email_address, required: true, autofocus: true %>
    <%= form.submit "Continue", class: "btn" %>
    <%= invisible_captcha %>
  <% end %>
</div>
