<h1>Starch</h1>
<%= render 'search/searchbar' %>

<% if @results.present? %>
  <div>
    <% @results["hits"].each do |hit| %>
      <% doc = hit["document"] %>
      
      <a href="<%= doc["url"] %>">
        <img src="<%= doc["icon"] %>" width="24"/>
        <h4><%= doc["title"] %></h4>
      </a>
      <p><%= doc["description"] %></p>
    <% end %>
  </div>
<% elsif @query.present? %>
  <p>No results found for "<%= @query %>"</p>
<% end %>