<h1>Starch</h1>
<%= render 'shared/searchbar' %>

<% if @results.present? %>
  <div class="search-results">
    <% @results["hits"].each do |hit| %>
      <% doc = hit["document"] %>
      
      <h2><%= doc["title"] %></h2>
      <p><%= doc["description"] %></p>
      <a href="<%= doc["link"] %>">Read more</a>
      <% if doc["published_at"] %>
        <p>Published: <%= Time.at(doc["published_at"]).strftime("%Y-%m-%d") %></p>
      <% end %>
    <% end %>
  </div>
<% elsif @query.present? %>
  <p>No results found for "<%= @query %>"</p>
<% end %>