<% content_for(:title) { 'Account' } %>

<div class="page">
  <h1 class="page__header">Account</h1>

  <div class="content">
    <span class="action-group-title">Stuff</span>
    <div class="action-group action-group--surface push--bottom">
      <%= link_to "Subscriptions", subscriptions_path, class: "action-group__item icon icon--plus-circle-fill" %>
      <%= link_to "Archive", archive_path, class: "action-group__item icon icon--archive" %>
    </div>

    <span class="action-group-title">Account</span>
    <div class="action-group action-group--surface">
      <% if Current.user.paid? %>
        <%= link_to "Billing", user_billing_path, class: "action-group__item icon icon--billing", target: "_blank", rel: "noopener" %>
      <% else %>
        <%= link_to "Billing", user_billing_path, class: "action-group__item icon icon--billing" %>
      <% end %>
      <%= link_to "Sign out", session_path, data: { turbo_method: :delete }, class: "action-group__item icon icon--sign-out" %>
      <%= link_to "Close your account", user_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to close your account?" }, class: "action-group__item icon icon--x-circle-fill" %>
    </div>
  </div>
</div>
