<%= turbo_frame_tag "channels-list" do %>
  <div>
    <% if @channels.present? %>
      <% @channels.each do |channel| %>
        <div>
          <div>
            <img src="<%= channel.image %>" width="24"/>
            <span><%= channel.title %></span>
          </div>
          <p><%= channel.domain %></p>
          <%= button_to channel_path(channel), 
                data: { turbo_method: "delete" },
                method: :delete do %>
            Delete
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No channels found.</p>
    <% end %>
  </div>
<% end %>