<div id="navbar__container" class="web-only">
  <nav id="navbar">
    <details id="navbar__logo-container" data-controller="popup-menu shortcut" data-shortcut-hotkey-value="h" >
      <summary id="navbar__logo">
        <img src="/icon.svg" alt="Starch logo" width="25px" height="25px">
        <h5>Starch</h5>
      </summary>

      <% 
      navigation_items = [
        { path: root_path, icon: "inbox", text: "Inbox" },
        { path: feed_path, icon: "feed", text: "Feed" },
        { path: later_path, icon: "later", text: "Later" },
      ]
        %>

      <div id="navigation" class="action-group">
        <% navigation_items.each_with_index do |item, index| %>
          <%= link_to item[:path],
              data: { controller: "shortcut",
                      "shortcut-hotkey-value": (index + 1).to_s },
              class: "shortcut-hotkey icon icon--#{item[:icon]} action-group__item" do %>
            <span><%= item[:text] %></span>
          <% end %>
        <% end %>
      </div>
    </details>

    <%= render "shared/searchbar" %>

    <div id="navbar__account__container">
      <% 
        first_char = Current.user.email_address[0]
        ascii_value = first_char.ord
        hue_value = (ascii_value % 360).to_f
      %>

      <%= link_to user_path, data: { controller: "shortcut",
                    "shortcut-hotkey-value": "4" } do %>
        <div id="navbar__account" style="<%="--user-hue: #{hue_value}"%>" aria-label="Me">
          <%= first_char %>
        </div>
      <% end %>
      </div>
    </div>
  </nav>
</div>
