<nav id="navbar">
  <div id="navbar--logo-container">
    <%= link_to root_path, id: "navbar--logo" do %>
      <%= image_tag "icons/rss.svg", alt: "Starch logo" %>
      <h5>Starch</h5>
    <% end %>
  </div>

  <search class="searchbar">
    <%= form_with(url: search_path, method: :get, data: { controller: "searchbar" }) do |form| %>
      <div class="searchfield-container">
      <%= form.search_field :q, autocomplete: "off", value: params[:q], placeholder: "Search" %>
      </div>
    <% end %>
  </search>

  <div id="navbar--account">
    <% if authenticated? %>
      <%= button_to "Logout", session_path, method: :delete, class: "btn" %>
    <% else %>
      <%= button_to "Sign in", new_session_path, method: :get, class: "btn" %>
    <% end %>
  </div>
</nav>
