<nav id="navbar">
  <div id="navbar-menu">
    <details>
      <summary class="btn">
        Inbox
      </summary>

      <turbo-frame id="navigation-menu" target="_top">
        <% on_root = current_page?(root_path) || current_page?(documents_path) %>
        <% filter_path = on_root ? documents_path : root_path %>

        <%= link_to "Later", "#{filter_path}?status=later" %>
        <%= link_to "Archive", "#{filter_path}?status=archive" %>
        <%= link_to "Inbox", "#{filter_path}?status=inbox" %>
        <%= link_to "Feed", feed_path %>
        <%= link_to "Subscriptions", subscriptions_path %>
      </turbo-frame>
    </details>
  </div>

  <search class="searchbar">
    <%= form_with(url: search_documents_path, method: :get, data: { controller: "searchbar" }) do |form| %>
      <div class="searchfield-container">
      <%= form.search_field :q, autocomplete: "off", value: params[:q], placeholder: "Search" %>
      </div>
    <% end %>
  </search>

  <div id="navbar-account">
    <% if authenticated? %>
      <%= button_to "Logout", session_path, method: :delete, class: "btn" %>
    <% else %>
      <%= button_to "Sign in", new_session_path, method: :get, class: "btn" %>
    <% end %>
  </div>
</nav>
