<nav id="navbar">
  <div id="navbar-menu">
    <% on_root = current_page?(root_path) || current_page?(documents_path) %>
    <% filter_path = on_root ? documents_path : root_path %>
    
    <%# link_to "Later", "#{filter_path}?status=later", data: { turbo_frame: "_top" } %>
    <%# link_to "Archive", "#{filter_path}?status=archive", data: { turbo_frame: "_top" } %>
    <h5>
      <%= link_to "Inbox", "#{filter_path}?status=inbox" %>
    </h5>
    <h5>
      <%= link_to "Feed", feed_path %>
    </h5>
    <h5>
      <%= link_to "Subs", subscriptions_path %>
    </h5>
  </div>

  <search class="searchbar">
    <%= form_with(url: search_documents_path, method: :get, data: { controller: "searchbar" }) do |form| %>
      <div class="searchfield-container">
      <%= form.search_field :q, autocomplete: "off", value: params[:q], placeholder: "Search" %>
      </div>
    <% end %>
  </search>

  <div id="navbar-account">
    <% if authenticated? %>
      <%= button_to "Logout", session_path, method: :delete, class: "btn" %>
    <% else %>
      <%= button_to "Sign in", new_session_path, method: :get, class: "btn" %>
    <% end %>
  </div>
</nav>