<div id="navbar__container">
  <nav id="navbar">
    <details id="navbar__logo-container" data-controller="popup-menu shortcut" data-shortcut-hotkey-value="h" >
      <summary id="navbar__logo">
        <img src="/icon.svg" alt="Starch logo" width="25px" height="25px">
        <h5>Starch</h5>
      </summary>
      <%= turbo_frame_tag :my_navigation, src: my_navigation_path, target: "_top" %>
    </details>

    <search class="searchbar" >
      <%= form_with(url: search_path, method: :get) do |form| %>
        <div class="searchfield-container">
          <%= form.search_field :q, autocomplete: "off", value: params[:q], placeholder: "Search", data: {"controller": "searchbar shortcut", "shortcut-hotkey-value": "/"} %>
        </div>
      <% end %>
    </search>

    <div id="navbar__account">
      <% if authenticated? %>
        <%= button_to "Logout", session_path, method: :delete, class: "btn" %>
      <% else %>
        <%= button_to "Sign in", new_session_path, method: :get, class: "btn" %>
      <% end %>
    </div>
  </nav>
</div>
