<%= link_to document_path(document),
    data: { turbo_frame: "_top" },
    id: dom_id(document),
    class: "document-item" do %>
  <header>
    <div>
      <% if document.entry %>
        <img src="<%= document.channel_icon %>" 
             width="24" 
             alt="<%= document.channel_title %> icon"/>
      <% end %>
      <span><%= document.channel_title %></span>
    </div>
    <% if document.published_at %>
      <p><%= document.published_at.strftime("%b %d, %Y") %></p>
    <% end %>
  </header>
  <main>
    <div>
      <h1><%= document.title %></h1>
      <p><%= document.description %></p>
      <p><%= document.author %> · X min read</p>
    </div>
    <div>
      <% cache [document, document.show_extracted?] do %>
        <% if document.get_attribute(:thumbnail_url) %>
          <img src="<%= document.get_attribute(:thumbnail_url) %>" 
               width="160"
               height="120"
               alt="Thumbnail"/>
        <% end %>
      <% end %>
    </div>
  </main>
<% end %>