<div id="<%= dom_id(document) %>" class="document-item">
  <%= link_to document_path(document), data: { turbo_frame: "_top" } do %>
    <div>
      <% if document.entry %>
        <img src="<%= document.channel_icon %>" 
             width="24" 
             alt="<%= document.channel_title %> icon"/>
      <% end %>
      <span><%= document.title %></span>
    </div>
    <p><%= document.description %></p>
  <% end %>
</div>