<div id="<%= dom_id(document) %>">
  <div>
    <% if document.entry %>
      <img src="<%= h document.channel_icon %>" 
           width="24" 
           alt="<%= h document.channel_title %> icon"/>
    <% end %>
    <span><%= h document.title %></span>
  </div>
  <p><%= h document.description %></p>
  <%= button_to document_path(document), 
        method: :delete do %>
    Delete
  <% end %>
  <%= button_to "Show", document_path(document), method: :get, data: { turbo_frame: "_top" } %>
</div>