<%= turbo_frame_tag dom_id(document, "preview") do %>
  <%= link_to document_path(document, view_extracted: document.view_extracted?),
      data: { turbo_frame: "_top",
              controller: "documents--preview",
              documents__preview_id_value: document.id,
              documents__preview_seen_value: seen
            },
      id: dom_id(document),
      class: "document-preview" do %>
    <header class="document-preview-title">
      <%= render 'channel/preview', channel: document.channel %>

      <% if document.published_at %>
        <p><%= document.published_at.strftime("%b %d, %Y") %></p>
      <% end %>
    </header>
    <main class="document-preview-main">
      <div class="document-preview-left">
        <h3><%= document.title %></h3>
        <div class="document-preview-metadata">
          <p class="document-preview-description"><%= document.description %></p>
          <p><%= document.author %></p>
        </div>
      </div>
      <div>
        <% if document.thumbnail_url %>
          <img src="<%= document.thumbnail_url %>" 
               width="160"
             height="120"
             alt="Thumbnail"/>
        <% end %>
      </div>
    </main>
  <% end %>
<% end %>