<%= link_to document_path(preview),
    id: dom_id(preview),
    class: "document-preview",
    data: {
      progress: preview.document_state ? preview.document_state.progress : 0
    } do %>
  <header class="document-preview-header">
    <%= source_container(preview) %>

    <% if preview.published_at %>
      <%= local_relative_time(preview.published_at, type: 'time-or-date') %>
    <% end %>
  </header>
  <div class="document-preview-main">
    <div class="document-preview-left">
      <h2 class="document-preview-title"><%= preview.title %></h2>
      <p class="document-preview-description"><%= preview.description %></p>
    </div>
    <% if preview.thumbnail_url %>
        <img class="document-preview-thumbnail" src="<%= preview.thumbnail_url %>" onerror="this.dataset.failed=true"/>
    <% end %>
  </div>
<% end %>
