<%= link_to document_path(preview),
    id: dom_id(preview),
    class: "document-preview" do %>
  <header class="document-preview-header">
    <%= render 'channel/preview', channel: preview.entry.channel, cached: true %>

    <% if preview.published_at %>
      <p><%= preview.published_at.strftime("%b %d, %Y") %></span>
    <% end %>
  </header>
  <div class="document-preview-main">
    <div class="document-preview-left">
      <h3 class="document-preview-title"><%= preview.title %></h3>
      <p class="document-preview-description"><%= preview.description %></p>
      <div class="document-preview-metadata">
        <span><%= preview.author %></span>
      </div>
    </div>
    <% if preview.thumbnail_url %>
      <img src="<%= preview.thumbnail_url %>" 
            width="160"
          height="120"
          alt="Thumbnail"/>
    <% end %>
  </div>
<% end %>
