<% content_for(:title) { "Inbox" } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="document-list page page--tab"
  data-controller="pagination navbar-search navbar-user" data-bridge-placeholder="Search..."
  data-bridge-user-hue="<%= navbar_user_hue %>" data-bridge-user-title="<%= navbar_user_title %>">
  <header class="flex flex--column flex--gap content">
    <div class="flex full-width">
      <%= form_with url: upload_documents_path, class: "auto--left" do |form| %>
        <%= label_tag "upload_file", "Upload", class: "btn btn--icon icon--plus" %>
        <%= form.file_field :files, multiple: true, include_hidden: false,
          accept: Upload::SUPPORTED_CONTENT_TYPE.join(','),
          class: "hide", id: "upload_file", onchange: "this.form.submit()" %>
      <% end %>
    </div>
    <h1 class="heading web-only full-width">Inbox</h1>
  </header>
  <div id="inbox__unread-section" class="document-preview-section">
    <% if @unread_documents.any? %>
      <div class="document-list__title-row">
        <h3 class="document-list__title">New for you</h3>
        <%= button_to read_all_documents_path, method: :post, class: "btn btn--outline btn--tertiary btn--sm btn--icon  icon--read",
          data: { turbo_confirm: "Are you sure you want to mark all documents as seen?" } do %>
          Mark all as seen
        <% end %>
      </div>
      <%= render partial: 'documents/preview', collection: @unread_documents %>
    <% elsif @unread_documents.empty? %>
      <div class="document-list__nothing-new">
        <span>
          <%= @read_documents.present? ? "Nothing new for you 🏝️" : "You're all clear 👏" %>
        </span>
      </div>
    <% end %>
  </div>
  
  <div id="inbox__read-section" class="document-preview-section" data-controller="documents--hide-read">
    <div class="document-list__title-row">
      <h3 class="document-list__title">Previously seen</h3>
    </div>
    <%= render partial: 'documents/preview', collection: @read_documents %>
  </div>
</div>
