<% content_for(:title) { "Inbox" } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div id="index" class="document-list page" data-controller="documents--list" 
                                            data-documents--list-query-value="<%= "status=inbox" %>">
  <h1 class="page__header">Inbox</h1>
  <div id="inbox__unread-section" class="document-preview-section">
    <% if @unread_documents.any? %>
      <div class="document-list__title-row">
        <h3 class="document-list__title">New for you</h3>
        <%= button_to read_all_documents_path, method: :post, class: "btn btn--secondary btn--sm btn--icon btn--main icon--read",
          data: { turbo_confirm: "Are you sure you want to mark all documents as seen?" } do %>
          Mark all as seen
        <% end %>
      </div>
      <%= render partial: 'documents/preview', collection: @unread_documents %>
    <% elsif @unread_documents.empty? %>
      <div class="document-list__nothing-new">
        <span>
          <%= @read_documents.present? ? "Nothing new for you 🏝️" : "You're all clear 👏" %>
        </span>
      </div>
    <% end %>
  </div>
  
  <div id="inbox__read-section" class="document-preview-section" data-controller="documents--hide-read">
    <div class="document-list__title-row">
      <h3 class="document-list__title">Previously seen</h3>
    </div>
    <%= render partial: 'documents/preview', collection: @read_documents %>
  </div>
</div>
