<div id="<%= dom_id(@document) %>" class="document">
  <div id="document-content">

    <header id="document-header">
      <div class="channel-container">
        <picture>
          <source srcset="<%= @document.channel.icon %>"/>
          <%= image_tag "icons/feed-icon.svg", width: 24, alt: "#{@document.channel.title} icon" %>
        </picture>
        <a><%= @document.channel.title %></a>
      </div>
      
      <hgroup>
        <h1 class="title"><%= @document.title %></h1>
        <h3 class="description"><%= @document.description %></h3>
      </hgroup>

      <div class="metadata-row">
        <p class="author"><%= @document.author %></p>
        <% if @document.published_at %>
          <p><%= @document.published_at.strftime("%b %d, %Y") %></p>
        <% end %>
      </div>

      <%= button_to "Delete", document_path(@document), 
      method: :delete %>
    </header>

    <hr/>
    
    <article id="document-body">
      <%= render_document_html @document.content %>
    </article>
  </div>
</div>