<% content_for(:title) { @document.title } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="page page--document"> 
  <div id="<%= dom_id(@document) %>" class="content content--document">
    <header class="document-header">
      <%= source_container(@document) %>
      
      <hgroup>
        <h1 class="document-title">
          <a href="<%= @document.url %>" target="_blank">
            <%= @document.title %>
          </a>
        </h1>
      </hgroup>

      <div class="document-metadata-row">
        <p class="document-author">
          <%= @document.author %>
        </p>
        <% if @document.published_at %>
          <p><%= local_time(@document.published_at, "%b %d, %Y") %></p>
        <% end %>
      </div>
    </header>

    <article class="document-body <%= "typography" if @document.entry? %> <%= "document-body--email" if @document.email? %>">
      <%= render_video @document %>
      <%= sanitize_document @document %>
    </article>
  </div>

  <%= turbo_frame_tag :document_toolbar, src: toolbar_document_path(@document) %>
</div>

<% content_for :bottom_content do %>
  <div></div>
<% end %>
