<% content_for(:title) { @document.title } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="page page--document"> 
  <div id="<%= dom_id(@document) %>" class="content content--document">
    <header class="document__header">
      <%= source_container(@document) %>

      <hgroup>
        <h1 class="document__title">
          <a href="<%= @document.url %>" target="_blank">
            <%= @document.title %>
          </a>
        </h1>
      </hgroup>

      <div class="document__metadata-row">
        <span><%= @document.author %></span>
        <% if @document.published_at %>
          <span><%= local_time(@document.published_at, "%b %d, %Y") %></span>
        <% end %>
      </div>
    </header>

    <%= render_document(@document) %>
  </div>

  <%= turbo_frame_tag :document_toolbar, src: toolbar_document_path(@document) %>
</div>

<% @hide_tabbar = true %>
