<div id="<%= dom_id(@document) %>">
  <div>
    <% if @document.entry %>
      <img src="<%= h @document.channel_icon %>" 
           width="24" 
           alt="<%= h @document.channel_title %> icon"/>
    <% end %>
    <span><%= h @document.title %></span>
  </div>
  <a href="<%= h @document.url %>"><%= h @document.url %></a>
  <p>description: <%= h @document.description %></p>
  <p>author: <%= h @document.author %></p>
  <p>published_at: <%= h @document.published_at %></p>
  <p>content: <%= sanitize @document.content, 
    tags: %w(p a h1 h2 h3 h4 h5 h6 strong em i u b pre code blockquote img figure figcaption article section ul ol li), 
    attributes: %w(href src alt title) %></p>
</div>