<% content_for(:title) { @document.title } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="page page--document"> 
  <div id="<%= dom_id(@document) %>" class="flex-item--fill <%= @document.render_type == :ebook ? "content--ebook" : "content" %>">
    <%= render "header", document: @document unless @document.render_type == :ebook %>
    <%= render_document(@document) %>
  </div>

  <%= turbo_frame_tag :document_toolbar, src: toolbar_document_path(@document) unless @document.render_type == :ebook %>
</div>

<% @hide_tabbar = true %>
