<% content_for(:title) { @document.title } %>

<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="sheet" data-controller="documents--show scroll-toggle"> 
  <div id="<%= dom_id(@document) %>" class="content document-content">
    <header class="document-header">
      <%= render 'channel/preview', channel: @document.channel %>
      
      <hgroup>
        <h1 class="document-title">
          <a href="<%= @document.url %>" target="_blank">
            <%= @document.title %>
          </a>
        </h1>
        <p class="document-description"><%= @document.description %></p>
      </hgroup>

      <div class="document-metadata-row">
        <p class="document-author"><%= @document.author %></p>
        <% if @document.published_at %>
          <p><%= @document.published_at.strftime("%b %d, %Y") %></p>
        <% end %>
      </div>
    </header>
    
    <article class="document-body">
      <%= render_video @document %>
      <%= render_document_html @document.content %>
    </article>
  </div>

  <%= turbo_frame_tag :document_toolbar, src: toolbar_document_path(@document), target: "_top" %>
</div>
