<a class="subscription-avatar" href="?subscription=<%= avatar.id %>" data-active="<%=params["subscription"] == avatar.id.to_s ? "true" : "false" %>">
  <% channel = avatar.channel %>
  <picture>
    <source srcset="<%= channel.icon %>"/>
    <%= image_tag "icons/rss.svg", alt: "#{channel.title} icon"%>
  </picture>
  <span><%= channel.title || channel.feed_url %></span>
</a>
