<div id="<%= dom_id(preview) %>" class="box__row box__row--column@mobile">
  <div class="box__content">
    <picture class="box__icon">
      <source srcset="<%= preview.feed.icon %>"/>
      <%= image_tag "icons/rss.svg", width: 32, alt: "#{preview.feed.title} icon"%>
    </picture>
    <a class="box__text" href="<%= preview.feed.url || preview.feed.feed_url %>" target="_blank">
      <span class="box__title"><%= preview.feed.title || preview.feed.feed_url %></span>
      <span class="box__description"><%= preview.feed.url %></span>
    </a>
  </div>

  <div class="box__actions">
    <%= form_with(model: preview,  namespace: dom_id(preview)) do |form| %>
      <%= form.check_box :to_inbox, 
          class: "toggle icon--inbox",
          onchange: 'this.form.requestSubmit()',
          "aria-label": "Send to inbox" %>
    <% end %>

    <%= form_with(model: preview, namespace: dom_id(preview)) do |form| %>
      <%= form.check_box :view_extracted, 
          class: "toggle icon--extract",
          onchange: 'this.form.requestSubmit()',
          "aria-label": "Extract full content" %>
    <% end %>

    <%= button_to "", subscription_path(preview), 
          method: :delete,
          form: { data: { turbo_confirm: "Are you sure?" } },
          class: "btn btn--icon icon--trash btn--ghost btn--danger",
          "aria-label": "Delete subscription" %>
  </div>
</div>
