<%= turbo_frame_tag dom_id(preview, "preview") do %>
  <div id="<%= dom_id(preview) %>">

    <%= render 'channel/preview', channel: preview.channel %>

    <p><%= preview.channel.feed_url %></p>
    <p><%= preview.channel.url %></p>
    
    <%= form_with(model: preview, html: { autocomplete: 'off' }) do |form| %>
      <div>
        <%= form.check_box :view_extracted, 
            onchange: 'this.form.requestSubmit()', 
            id: "view_extracted_#{preview.id}" %>
        <%= form.label :view_extracted, "View extracted content", 
            for: "view_extracted_#{preview.id}" %>
      </div>
    <% end %>
    
    <%= button_to subscription_path(preview), 
          method: :delete,
          form: { data: { turbo_confirm: "Are you sure?" } } do %>
      Delete
    <% end %>
  </div>
<% end %>