<div id="<%= dom_id(preview, "preview") %>" class="subscription-preview">
  <div class="subscription-preview__content">
    <picture class="subscription-preview__icon">
      <source srcset="<%= preview.channel.icon %>"/>
      <%= image_tag "icons/rss.svg", width: 32, alt: "#{preview.channel.title} icon"%>
    </picture>
    <a class="subscription-preview__text" href="<%= preview.channel.url || preview.channel.feed_url %>" target="_blank">
      <span class="subscription-preview__title"><%= preview.channel.title || preview.channel.feed_url %></span>
      <span class="subscription-preview__description"><%= preview.channel.url %></span>
    </a>
  </div>

  <div class="subscription-preview__actions">
    <%= form_with(model: preview,  namespace: dom_id(preview)) do |form| %>
      <%= form.check_box :to_inbox, 
          class: "toggle icon--inbox",
          onchange: 'this.form.requestSubmit()',
          "aria-label": "Send to inbox" %>
    <% end %>

    <%= form_with(model: preview, namespace: dom_id(preview)) do |form| %>
      <%= form.check_box :view_extracted, 
          class: "toggle icon--extract",
          onchange: 'this.form.requestSubmit()',
          "aria-label": "Extract full content" %>
    <% end %>

    <%= button_to "", subscription_path(preview), 
          method: :delete,
          form: { data: { turbo_confirm: "Are you sure?" } },
          class: "btn btn--icon icon--trash btn--ghost btn--danger",
          "aria-label": "Delete subscription" %>
  </div>
</div>
