<div id="<%= dom_id(preview, "preview") %>" class="subscription-preview">
  <div class="subscription-preview__content">
    <picture class="subscription-preview__icon">
      <source srcset="<%= preview.channel.icon %>"/>
      <%= image_tag "icons/rss.svg", width: 32, alt: "#{preview.channel.title} icon"%>
    </picture>
    <a class="subscription-preview__text" href=<%= preview.channel.url %> target="_blank">
      <span class="subscription-preview__title"><%= preview.channel.title || preview.channel.feed_url %></span>
      <span class="subscription-preview__description"><%= preview.channel.url %></span>
    </a>
  </div>

  <div class="subscription-preview__actions">
    <%= form_with(model: preview, html: {class: "checkbox" }, namespace: dom_id(preview)) do |form| %>
      <%= form.check_box :to_inbox, 
          onchange: 'this.form.requestSubmit()' %>
      <%= form.label :to_inbox, "Inbox" %>
    <% end %>

    <%= form_with(model: preview, html: { class: "checkbox" }, namespace: dom_id(preview)) do |form| %>
      <%= form.check_box :view_extracted, 
          onchange: 'this.form.requestSubmit()' %>
      <%= form.label :view_extracted, "Extract" %>
    <% end %>

    <%= button_to subscription_path(preview), 
          method: :delete,
          form: { data: { turbo_confirm: "Are you sure?" } },
          class: "btn btn--icon icon--trash btn--ghost" do %>
    <% end %>
  </div>
</div>
