<div id="<%= dom_id(preview, "preview") %>" class="subscription-preview">
  <div class="subscription-content">
    <picture class="subscription-icon">
      <source srcset="<%= preview.channel.icon %>"/>
      <%= image_tag "icons/rss.svg", width: 32, alt: "#{preview.channel.title} icon" %>
    </picture>
    <a class="subscription-text" href=<%= preview.channel.url %>>
      <span class="subscription-title"><%= preview.channel.title || preview.channel.feed_url %></span>
      <span class="subscription-description"><%= preview.channel.url %></span>
    </a>
  </div>

  <div class="subscription-actions">
    <%= form_with(model: preview, html: { autocomplete: 'off', class: "checkbox" }) do |form| %>
      <%= form.check_box :view_extracted, 
          onchange: 'this.form.requestSubmit()', 
          id: "view_extracted_#{preview.id}" %>
      <%= form.label :view_extracted, "Extract", 
          for: "view_extracted_#{preview.id}" %>
    <% end %>

    <%= button_to subscription_path(preview), 
          method: :delete,
          form: { data: { turbo_confirm: "Are you sure?" } },
          class: "btn-icon icon--trash btn-icon--danger" do %>
    <% end %>
  </div>
</div>
