<% content_for(:title) { "Subscriptions" } %>

<div class="sheet">
  <%= link_to "Go back", :back, class: "btn btn--outline btn--icon icon--arrow-left breadcrumb push--bottom" %>
  <h1 class="sheet__header">Subscriptions</h1>
  <div class="content subscription-content">
    <%= form_with(model: Subscription, id: "add-subscription") do |f| %>
      <%= f.text_field :feed_url, 
          placeholder: "Enter link",
          autocomplete: "off",
          inputmode: "url",
          "aria-label": "Enter RSS or Atom feed URL",
          required: true %>
      <%= f.button "Add to inbox",
        class: "btn btn--icon icon--inbox",
        name: "subscription[to_inbox]",
        value: "true" %>
      <%= f.button "Add",
        class: "btn btn--secondary btn--icon icon--plus",
        name: "subscription[to_inbox]",
        value: "false" %>
    <% end %>

    <div id="subscription-list">
      <%= render partial: 'subscriptions/preview', collection: @subscriptions %>
    </div>
  </div>
</div>
