<% content_for(:title) { "Subscriptions" } %>

<div class="page">
  <%= link_to "Go back", :back, class: "btn btn--outline btn--secondary btn--sm btn--icon icon--arrow-left web-only push--bottom" %>
  <h1 class="heading web-only">Subscriptions</h1>
  <div class="content">
    <div class="flex flex--centered">
      <%= button_to_copy_email_address Current.user.email_addresses.first.email_address %>
    </div>
    <div class="sheet push--bottom pad_double--top">
      <%= form_with model: Subscription, class: "flex full-width flex--wrap flex--gap flex--align-end" do |form| %>
        <%= form.text_field :feed_url, 
            placeholder: "Enter link",
            autocomplete: "off",
            inputmode: "url",
            "aria-label": "Enter RSS or Atom feed URL",
            class: "full-width",
            required: true %>
        <%= form.button "Add to inbox",
          class: "btn btn--primary btn--icon icon--inbox",
          name: "subscription[to_inbox]",
          value: "true" %>
        <%= form.button "Add",
          class: "btn btn--icon icon--plus",
          name: "subscription[to_inbox]",
          value: "false" %>
      <% end %>
    </div>

    <div class="box" id="subscription-list">
      <%= render partial: 'subscriptions/preview', collection: @subscriptions %>
    </div>
  </div>
</div>
