<div id="navbar__container">
  <%= trial_banner %>

  <nav id="navbar" class="web-only <%= local_assigns[:class] %>">
    <%= navbar_left_section %>
    <%= navbar_menu %>
    <%= navbar_user %>
  </nav>
</div>
