<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Starch — one place to read them all" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="RSS Reader. One place to read them all.">
    <meta name="apple-itunes-app" content="app-id=6743105949">

    <meta property="og:site_name" content="Starch">
    <meta property="og:title" content="Starch — one place to read them all">
    <meta property="og:description" content="RSS Reader. One place to read them all.">
    <meta property="og:image" content="https://www.starch.app/icon.png">
    <meta property="og:url" content="https://starch.app/">
    <meta property="og:type" content="website">

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylepage files in app/assets/stylepages %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body class="body--public">
    <main class="main">
      <%= yield %>
    </main>
  </body>
</html>
